.dashboardGrid {
	display: grid;
	grid-template-columns: auto auto;
	gap: 10px;
	margin-bottom: 10px;
}

.chartCard {
	padding: 2rem;
	background: var(--card);
	border-radius: var(--radius-lg);
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
	width: auto !important;
}
@media (max-width: 900px) {
	.dashboardGrid {
		grid-template-columns: 1fr;
	}
}
